In [7]:
import os
import pandas as pd
os.listdir('data_sample')

['california_housing_train.csv']

In [8]:
df = pd.read_csv('data_sample/california_housing_train.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [1]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [2]:
scaler = MinMaxScaler()
scaler.fit(data)
scaler.transform(data)

array([[0.25806452, 0.45454545],
       [1.        , 1.        ],
       [0.        , 0.        ],
       [0.08064516, 0.13636364],
       [0.16129032, 0.27272727]])

In [3]:
scaler = preprocessing.StandardScaler().fit(data)
scaler.transform(data)

array([[-0.11638732,  0.23521877],
       [ 1.94277296,  1.80334389],
       [-0.83261698, -1.07155217],
       [-0.60879521, -0.67952089],
       [-0.38497344, -0.28748961]])

#### **Latihan Dataset**

In [1]:
from sklearn.model_selection import train_test_split

In [2]:
x_data = range(10)
y_data = range(10)

In [9]:
print("Random state ditentukan")
for i in range(3):
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.3, random_state = 42)
    print(y_test)

Random state ditentukan
[8, 1, 5]
[8, 1, 5]
[8, 1, 5]

In [7]:
print("Random state tidak ditentukan")
for i in range(3):
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.3, random_state = None)
    print(y_test)

Random state tidak ditentukan
[5, 3, 7]
[4, 6, 1]
[3, 7, 2]

#### **Latihan SKLearn Train Test Split**

In [24]:
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.model_selection import cross_val_score

In [22]:
iris = datasets.load_iris()
x = iris.data
y = iris.target

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state = 42)
print(len(x_test))

30

#### **Latihan SKLearn Cross Validation Split**

In [28]:
clf = tree.DecisionTreeClassifier()
scores = cross_val_score(clf, x, y, cv = 5)
print(scores)

[0.96666667 0.96666667 0.9        0.96666667 1.        ]